@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* { 
    box-sizing: border-box;
}

body {
    background-color: slateblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}